---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects | Urban Data Science & Equitable Cities" pageType="other">
  <main id="main-content" class="pt-24 container">
    <h1 class="text-3xl font-bold mb-4">Projects</h1>
    <p>
      This page will highlight ongoing initiatives, datasets, and collaborations from the working group.
    </p>
    <p class="mt-4">For current activities, see our official EAAMO Bridges page.</p>
    <div class="mt-4 flex gap-2 flex-wrap">
      <a class="underline" href="https://bridges.eaamo.org/working_groups/urban-ds-equitable-cities/" target="_blank" rel="noopener">Official Working Group Page</a>
    </div>
  </main>
</Layout>


